<div class="grafico-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Gráficos de Ventas</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <div class="grafico">
          <h3>Ventas Totales</h3>
          <p>Última Semana</p>
          <canvas baseChart 
                  [datasets]="ventasData" 
                  [labels]="chartLabels" 
                  [options]="chartOptions" 
                  [type]="chartType"></canvas>
        </div>
  
        <div class="grafico">
          <h3>Ventas por Sesión</h3>
          <p>Última Semana</p>
          <canvas baseChart 
                  [datasets]="ventasSesionesData" 
                  [labels]="chartLabels" 
                  [options]="chartOptions" 
                  [type]="chartType"></canvas>
        </div>
  
        <div class="grafico">
          <h3>Ventas de Alimentos</h3>
          <p>Última Semana</p>
          <canvas baseChart 
                  [datasets]="ventasAlimentosData" 
                  [labels]="chartLabels" 
                  [options]="chartOptions" 
                  [type]="chartType"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
