.nueva-resena {
    display: flex;
    flex-direction: column;

}

.resenas-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.resenas-header h3 {
    margin: 0;
}

/* Botón para escribir una reseña */
.review-btn {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s ease;
    max-height: 40px;
}

.review-btn:hover {
    background: #218838;
}

/* Área de texto para nueva reseña */
textarea {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

/* Botón para enviar reseña */
.submit-btn {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5px;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #0056b3;
}

/* Estilos para cada reseña */
.review {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.review p {
    margin: 5px 0;
    color: #444;
}

.review strong {
    color: #222;
}

/* Paginación */
pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

pagination-controls .ngx-pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

pagination-controls .ngx-pagination li {
    margin: 0 5px;
}

pagination-controls .ngx-pagination a {
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

pagination-controls .ngx-pagination a:hover {
    background: #0056b3;
}

pagination-controls .ngx-pagination .current {
    background: #28a745;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.rating-stars {
    font-size: 25px;
    color: #ddd;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

.rating-stars span {
    transition: color 0.3s ease;
}

.rating-stars span:hover,
.rating-stars span.selected {
    color: gold;
}