<div class="resenas-header">
    <h3>Reseñas</h3>

    <button class="review-btn" (click)="toggleEscribirResena()">
        Escribir Reseña
    </button>
</div>



<!-- Input para escribir reseña (solo si el usuario está logueado y habilitado) -->
<div class="nueva-resena" *ngIf="mostrarInputResena">
    <textarea [(ngModel)]="nuevaResena" placeholder="Escribe tu reseña aquí..."></textarea>
    <div class="rating-stars">
        @for(star of [1,2,3,4,5]; track $index) {
            <span (mouseenter)="seleccionarPuntuacion(star)"
            (click)="seleccionarPuntuacion(star)"
            [class.selected]="puntuacionSeleccionada > star-1">
            ★
            </span>
        }
    </div>
    <button class="submit-btn" (click)="enviarResena()">Enviar</button>
</div>

<!-- Lista de reseñas paginadas -->
@for(resena of resenas | paginate: { itemsPerPage: 4, currentPage: paginaActual }; track $index){
    <div class="review">
        <p><strong>Usuario {{ resena.id_cliente }}</strong></p>
        <p>⭐ {{ resena.puntuacion }}/5</p>
        <p>{{ resena.texto }}</p>
    </div>
}
<pagination-controls (pageChange)="cambiarPagina($event)" previousLabel=Anterior nextLabel=Siguiente></pagination-controls>        
