<div class="contenedor_peliculas">
    
    <!-- Listado de películas -->
    <div class="listado_peliculas">
        <div *ngFor="let pelicula of peliculasFiltradas">
            <app-pelicula [pelicula]="pelicula"></app-pelicula>
        </div>
    </div>

    <!-- Barra lateral de filtros -->
    <div class="filtro_peliculas">
        <h3>Filtrar películas</h3>

        <!-- Buscar por título -->
        <label for="busqueda">Buscar:</label>
        <input id="busqueda" type="text" (input)="onBuscar($event)">

        <!-- Filtrar por estrenadas -->
        <label for="estrenadas">Estado:</label>
        <select id="estrenadas" [(ngModel)]="filtroEstado" (change)="onFiltrarEstado($event)">
            <option value="">Todas</option>
            <option value=1>Estrenadas</option>
            <option value=0>Próximamente</option>
        </select>

        <!-- Filtrar por provincia -->
        <label for="provincia">Provincia:</label>
        <select id="provincia" [(ngModel)]="filtroProvincia" (change)="onFiltrarProvincia($event)">
            <option value="">Todas</option>
            <option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia }}</option>
        </select>
        
        <!-- Filtrar por cine -->
        <label for="cine">Cine:</label>
        <select id="cine" [(ngModel)]="filtroCine" (change)="onFiltrarCine($event)">
            <option value="">Todos</option>
            @for(cine of cinesFiltrados; track cine.id){
                <option [value]="cine.id">{{cine.nombre}}</option>
            }
        </select>

        

        <!-- Botón de reset -->
        <button (click)="onResetearFiltros()">Resetear Filtros</button>
    </div>
</div>
