.availability h3 {
    margin: 0;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin: 5px 0;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; 
    margin-bottom: 10px;
    /*max-width: 200px;*/
    border-radius: 5px;
    border: 1px solid #ccc;
}


.search-btn {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.search-btn:disabled{
    cursor: not-allowed;
    background: #7fbdff;
    color: white;
}

.horarios-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

.horarios {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.horario {
    background: #007bff;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #0056b3;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.horario:hover {
    background: #0056b3;
}

.horario.selected {
    background: #ff4500;
    border-color: #c33;
}

.entradas-container {
    margin-top: 20px;
}

.cantidad-entradas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.btn-menos, .btn-mas {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-menos:hover, .btn-mas:hover {
    background: #0056b3;
}

.add-to-cart-btn {
    margin-top: 10px;
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.add-to-cart-btn:disabled {
    background: #7fcf95;
    cursor: not-allowed;
}