<h3>ver disponibilidad</h3>
<label for="provincia">Provincia:</label>
<select id="provincia" [(ngModel)]="filtroProvincia" (change)="onFiltrarProvincia($event)">
    <option value="">--</option>
    
    @for(provincia of provincias; track $index) {
        <option [value]="provincia">{{provincia}}</option>
    }
</select>

<label for="cine">Cine:</label>
<select id="cine" [(ngModel)]="filtroCine">
    <option value="">--</option>
    @for(cine of cinesFiltrados; track cine.id){
        <option [value]="cine.id">{{cine.nombre}}</option>
    }
</select>

<label for="fecha">Fecha:</label>
<input type="date" id="fecha" [(ngModel)]="fechaSeleccionada">

<button class="search-btn" [disabled]="!formularioValido()" (click)="buscarSesiones()">Buscar</button>

@if(sesiones.length > 0){
    <div>
        <h3>Horarios disponibles:</h3>

        <div class="horarios-container">
            @for(s of sesiones; track $index) {
                <span class="horario" 
                    [class.selected]="s === sesionSeleccionada" 
                    (click)="seleccionarSesion(s)">
                    {{ s.hora }}
                </span>
            }
        </div>
    </div>
}@else if(sesiones.length === 0 && filtroCine){
    <div>
        <p>No hay sesiones disponibles para la fecha seleccionada.</p>
    </div>
}

@if(sesionSeleccionada){
    <div class="entradas-container">
        <h4>Selecciona tus entradas</h4>
        <div class="cantidad-entradas">
            <button class="btn-menos" (click)="cambiarCantidad(-1)">-</button>
            <span>{{cantidadEntradas}}</span>
            <button class="btn-mas" (click)="cambiarCantidad(1)">+</button>
        </div>
        <button class="add-to-cart-btn" [disabled]="cantidadEntradas <= 0" (click)="agregarAlCarrito()">Agregar al carrito</button>
    </div>
}