<div class="modal-container">
    <h2>Tráiler</h2>
    <ng-container *ngIf="isExternalVideo(data.videoUrl); else localVideo">
      <iframe 
        width="100%" 
        height="315" 
        [src]="data.videoUrl | safeUrl" 
        frameborder="0" 
        allowfullscreen>
      </iframe>
    </ng-container>
    
    <ng-template #localVideo>
      <video width="100%" height="315" controls autoplay>
        <source [src]="data.videoUrl" type="video/mp4">
        Tu navegador no soporta el elemento de video.
      </video>
    </ng-template>
    
    <button (click)="cerrar()">Cerrar</button>
  </div>
  