<nav class="barra_superior_navegacion">
    <div class="barra_superior_contenido">
        <img alt="Logo de la empresa de entretenimiento Cinemania." src="assets/images/logo.png">
        <ul id="seccion_central">
            @if(!areaPrivadaSeleccionada){
                <li><a routerLink="/inicio" routerLinkActive="active">inicio</a></li>
                <li><a routerLink="/peliculas" routerLinkActive="active">peliculas</a></li>
            }@else if(areaPrivadaSeleccionada){
                <li><a routerLink="/inicio-admin" routerLinkActive="active">inicio</a></li>
                <li><a routerLink="/ventas-admin" routerLinkActive="active">ventas</a></li>
                <li><a routerLink="/stock-admin" routerLinkActive="active">stock</a></li>
            }
            
        </ul>

        <ul id="seccion_derecha">
            @if(!isLoggedIn){
                <li><a routerLink="/inicio-sesion" routerLinkActive="active">iniciar sesión</a></li>
                <li><a class="btn-registro" routerLink="/registro" routerLinkActive="active">registro</a></li>
            }@else{
                <li><span>Hola, {{ usuarioActual?.correo }}</span></li>
                @if(usuarioActual.rol === 'administrador'){
                    <li><a (click)="onClickAreaPrivada()" routerLinkActive="active">área privada</a></li>
                }
                <li>
                    <button class="btn-logout" (click)="logout()">cerrar sesión</button>
                </li>
                
            }
            
            
            <div class="cart-icon" (click)="toggleCarrito()">
                <img src="assets/icons/shopping_cart.svg" alt="Carrito">
                <span class="cart-count" *ngIf="carrito.length > 0">{{ carrito.length }}</span>
            </div>
        </ul>
    </div>
</nav>

<div class="cart-modal" *ngIf="mostrarCarrito">
    <div class="cart-content">
        <h3>🛒 Carrito de Compras</h3>
        <ul>
            @if(carrito.length == 0) {
                <li>El carrito está vacío</li>
            }
            @else {
                @for(item of carrito; track $index) {
                    <li>
                        @if(item.tipo === "entrada"){
                            🎟️ {{ item.cantidad }} x {{ item.nombre }} 
                            ({{ item.horario }}) 
                            <button (click)="eliminarEntrada($index)">❌</button>
                        }@else{
                            🍿 {{ item.cantidad }} x {{ item.nombre }} 
                            <button (click)="eliminarEntrada($index)">❌</button>
                        }
                        
                    </li>
                }
            }
        </ul>
        <button class="continuar-btn" (click)="continuarPedido()">Continuar</button>
        <button class="close-btn" (click)="toggleCarrito()">Cerrar</button>
    </div>
</div>
    