<div class="container">

    <div class="left-column">
        <img [src]="pelicula.url_portada || 'assets/images/JPG000tu.jpg'" [alt]="pelicula.titulo">
        <button class="trailer-btn" (click)="verTrailer()">ver tráiler</button>
        <p class="rating">⭐ {{puntuacion}}/5</p>
        
        @for(p of pelicula.generos.split(','); track $index){
            <p><span class="genre">{{p.trim()}}</span></p>
        }
    </div>

    <div class="movie-card">
        
        <div class="movie-info">
            <h1>{{pelicula.titulo}}</h1>
            <p><strong>Duración</strong></p>
            <p> 100 mins</p>
            <p><strong>Clasificación</strong> </p>
            <p>No recomendada para menores de 12 años</p>
            <p><strong>Dirección</strong></p>
            <p>{{pelicula.director}}</p>
            <p><strong>Reparto</strong></p>
            <p>{{pelicula.actores}}</p>
        </div>

        <div class="synopsis">
            <h2>Sinopsis</h2>
            <p>
                {{pelicula.sinopsis}}
            </p>
        </div>

        <div class="comments-section">
            <app-resenas [pelicula]="pelicula" (puntuacionPelicula)="actualizarPuntuacion($event)"></app-resenas>
        </div>
        
    </div>

    <div class="availability">
        <app-buscador-disponibilidad [pelicula]="pelicula"></app-buscador-disponibilidad>
    </div>
</div>